Django>=3.0
discord.py
stripe
asgiref==3.8.1
gunicorn==23.0.0
dj-database-url==3.0.0
psycopg2-binary==2.9.10
whitenoise[brotli]==6.9.0
django-cors-headers==4.7.0
django-filter==2.5.0  # Ensure this is present
